.friendsblock {

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content:left;

}

.imageClass {
  border-radius: 10%;
  max-width: 55px;
  min-width: 35px;
  margin: 8px;
}

/*.friendsblock a {*/
/*  color: rosybrown;*/
/*}*/

.eachFriend {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-grow: 1;

  height: 60px;
  padding: 5px;
}

/*.nameOfFriend {*/
/*display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/