.friendsblock {
  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content:left; 
   
}

.imageClass {
  border-radius: 50%;
  max-width: 35px; 
  min-width: 35px;
}

.friendsblock a {
  color: rosybrown;
}

.eachFriend {
  display: flex;
  flex-direction: column;
  margin: 3px;
  flex-grow: 1;
  width: 35%;
}